
@model UsersManager.Models.Photo

@{
    ViewBag.Title = "Create";
}

@if (Model.Id == 0)
{
    <div class="PageTitle">Ajout de photo</div>
}
else
{
    <div class="PageTitle">
        Modification de photo
    </div>
}
@Helper.GlyphiconAction("Index", "glyphicon-circle-arrow-left", "Retour à la liste")
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.GUID)
    @Html.HiddenFor(model => model.CreationDate)
    @Html.HiddenFor(model => model.Ratings)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset class="formField ">
        <legend>Titre</legend>
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Titre" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </fieldset>
    <fieldset class="formField ">
        <legend>Description</legend>
        @Html.TextAreaFor(model => model.Description, 4, 60, new { @class = "form-control", placeholder = "Description" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </fieldset>
    <fieldset class="formField imageUploaderContainer">
        <legend>Image</legend>
        @Helper.ImageUploader(Model.Id, Model.GetUrl(), "Data", Url.Content("~/ImagesData/Loading_icon.gif"), "Cliquez ou déposez pour changer l'image")
        @Html.ValidationMessage("Data", "", new { @class = "text-danger" })
    </fieldset>
    <fieldset class="formField ">
        <legend>Visibilité</legend>
        @Helper.ListToRadioButtonGroup("VisibilityId", (SelectList)ViewBag.Visibilities, Model.VisibilityId)
        @Html.ValidationMessageFor(model => model.VisibilityId, "", new { @class = "text-danger" })
    </fieldset>

    <div>
        @if (Model.Id == 0)
        {
            <input type="submit" value="Ajouter" class="btn btn-default" />
        }
        else
        {
            <input type="submit" value="Modifier" class="btn btn-default" />
        }
    </div>
}
